Django==5.2.5
django-browser-reload==1.17.0
django-cloudinary-storage==0.3.0
cloudinary==1.44.1

razorpay==1.4.2

psycopg2-binary==2.9.10

channels==4.3.1
channels_redis==4.3.0
redis==6.4.0

whitenoise==6.10.0

python-decouple==3.5

pillow==11.3.0
requests==2.32.5

asgiref==3.9.1
sqlparse==0.5.3
tzdata==2025.2
